.gallery{
  display: grid;
  grid-template-columns: 75px 1fr 75px;
  grid-template-rows: 1fr 75px;

  max-width: 100%;
  max-height: 100%;

}

.gallery .image-pane div{
  height: 100%;
}
.gallery .nav-left{
  grid-area: 1 / 1 / 2 / 2;
}

.gallery .nav-right{
  grid-area: 1 / 3 / 2 / 4;
}

.gallery .nav-left,
.gallery .nav-right,
.gallery .gallery-buttons{
  align-self: center;
  justify-self: center;
}

.gallery .image-pane{
  grid-area: 1 / 2 / 2 / 3;

  overflow: hidden;
}

.gallery .image-pane .image-container .image-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;

}

.gallery .image-pane img{
  height: 100%;
}

.gallery .gallery-buttons {
  grid-area: 2 / 1 / 3 / 4;

}